[submodule "projects/symengine"]
	path = projects/symengine
	url = https://github.com/symengine/symengine
[submodule "docs/doxyrest"]
	path = docs/api/doxyrest
	url = https://github.com/vovkos/doxyrest
[submodule "projects/bindings/python"]
	path = projects/bindings/python
	url = https://github.com/symengine/symengine.py
