[submodule "projects/symengine"]
	path = projects/symengine
	url = https://github.com/symengine/symengine
[submodule "docs/docs"]
	path = docs/docs
	url = https://github.com/mosra/m.css
[submodule "docs/Doxygen/m.css"]
	path = docs/Doxygen/m.css
	url = https://github.com/mosra/m.css
